<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- SITE TITLE -->
<title>Blake Strickland - Developer</title>

<!-- =========================
      FAV AND TOUCH ICONS
========================= -->

<!-- =========================
     STYLESHEET
========================= -->
<!-- FONT AWESOME -->
<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->

<!-- FORMSTONE NAVIGATION -->
<link rel="stylesheet" href="../../../assets/navigation.css">

<!-- COLORS -->
<link rel="stylesheet" href="../../../assets/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->

<!-- CUSTOM STYLESHEET -->
<link rel="stylesheet" href="../../../assets/styles.css">

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="../../../assets/responsive.css">

<!-- Jquery -->
<script src="js/jquery-2.0.3.min.js"></script>

<script>
//make sure that js is enabled
$('html').addClass('js');
</script>

<!--[if IE]>
<style>label {display: block;}</style>
<![endif]-->

</head>

<body>
<!-- =========================
     PRELOADER
========================== -->
<div class="preloader"></div>

<!-- =========================
     NAVIGATION
========================== -->
<nav class="navigation dark-bg">
	<div class="wrapper">

		<!-- NAVIGATION HEADER -->
		<div class="navbar-header">
			<!-- LOGO -->
		</div>

		<!-- NAVIGATION LINKS -->
		<ul class="navigation-links"  data-navigation-handle=".navbar-header">
			<li><a href="#home">Home</a></li>

			<li><a href="#about">About</a></li>

			<li><a href="#contact">Contact</a></li>
		</ul>

	</div> <!-- /END WRAPPER -->
</nav>

<!-- =========================
     HOME
========================= -->
<header class="home dark-bg" id="home">
	<div class="color-overlay">
		<div class="wrapper">

			<!-- HEADING -->
			<h1>
				 <span class="colored-text">Blake Strickland</span>
			</h1>

			<!-- SUB HEADING -->
			<p class="sub-heading">
				Software Application Developer
			</p>


		</div> <!-- /END WRAPPER -->
	</div> <!-- /END COLOR OVERLAY -->
</header>

<!-- =========================
     ABOUT
========================= -->
<section class="about" id="about">
	<div class="wrapper">

		<!-- HEADING -->
		<h2>About Myself</h2>

		<!-- LINE -->
		<div class="main-line"></div>

		<div class="col-6">
		</div>

		<div class="col-6">
			<!-- HEADING -->
			<h3>About:</h3>

			<!-- PARAGRAPH -->
			<p>
			I highly enjoy working with backend frameworks such as Ruby on Rails and Python but at the
			same time I am beginning to grow acustom to the frontend side of development as well. I am
			looking to further my learning to become more well rounded in the art of design as well as
			diving deeper into backend and mobile development.
			</p>
			<!-- HEADING -->
			<h3>What I'm looking for:</h3>

			<!-- PARAGRAPH -->
			<p>
      I am looking for either a group of developers to work with and explore new technologies or
			an apprenticeship/ mentor to further increase my knowledge base and to continue to learn.
			</p>

			<!-- HEADING -->

			<!-- FEATURES LIST -->

		</div>

	</div> <!-- /END WRAPPER -->
</section>

<section class="resume">

			<p class="modal-intro">
				<embed src="../../../assets/my-resume.pdf" class="resume"/>
			</p>

</section>

<!-- =========================
     SERVICES
========================= -->
<section class="services" id="services">
	<div class="wrapper">

		<!-- HEADING-->
		<h2>What I Can Do</h2>

		<!-- SUB HEADING -->
		<p class="sub-heading"></p>

		<!-- LINE -->
		<div class="main-line"></div>

		<!-- ICON BOXES -->
		<div class="icon-boxes">
			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-puzzle-piece"></i>

				<!-- HEADING -->
				<h3>Back End</h3>

				<!-- PARAGRAPH -->
				<p>
					Ruby on Rails / Python Django
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-eye"></i>

				<!-- HEADING -->
				<h3>Front End</h3>

				<!-- PARAGRAPH -->
				<p>
					HTML CSS JavaScript AJAX JQuery
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-server"></i>

				<!-- HEADING -->
				<h3>Other</h3>

				<!-- PARAGRAPH -->
				<p>
					MongoDB SQL Meteor
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-mobile-phone"></i>

				<!-- HEADING -->
				<h3>Interested In</h3>

				<!-- PARAGRAPH -->
				<p>
					Andriod/IOS Development
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>

			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-book"></i>

				<!-- HEADING -->
				<h3>Learning About</h3>

				<!-- PARAGRAPH -->
				<p>
					Docker AWS
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>

			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-play"></i>

				<!-- HEADING -->
				<h3>Outside the Scope</h3>

				<!-- PARAGRAPH -->
				<p>
					Raspberry Pi Arduino
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
				</div>
			</div>
		</div> <!-- /END ICON BOXES -->

	</div> <!-- /END WRAPPER -->
</section>

<section class="breaker">

</section>

<!-- =========================
     PORTFOLIO
========================= -->
<section class="portfolio" id="portfolio">
	<div class="wrapper">

		<!-- HEADING -->
		<h2>Portfolio</h2>

		<!-- SUB HEADING -->
		<p class="sub-heading"></p>

		<!-- LINE -->
		<div class="main-line"></div>

		<!-- PORTFOLIO FILTERS -->
		<!-- <ul class="portfolio-filters">
			<li data-filter="web-design">Web Design</li>
			<li data-filter="logo">Logo</li>
			<li data-filter="photography">Photography</li>
			<li data-filter="video">Video</li>
			<li data-filter="marketing">Marketing</li>
		</ul> -->

		<!-- PROJECTS CONTAINER -->
		<div class="projects-container">

			<!-- PROJECTS -->
			<ul class="projects">

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" >
					<!-- PROJECT IMAGE -->
					<img src="assets/rails.png">

					<!-- PROJECT LINK -->
					<a href="https://github.com/BlakeStrickland/depot_demo">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Pragmatic Rails Example</h3>

								<!-- DETAILS -->
								<p>
									A Rails 4 shopping cart example following the Agile Development with Rails 4. This included
									Test Driven Development, DRY concepts and internationalization. Additions to be added are
									real money transactions and optimisations.
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" >
					<!-- PROJECT IMAGE -->
					<img src="assets/rails.png" >

					<!-- PROJECT LINK -->
					<a href="https://github.com/arttrackd/arttrackd">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>ArtTrackd</h3>

								<!-- DETAILS -->
								<p>
									Keeping track of materials, sales, pieces and time spent on them can become extremely
									inefficent and is often difficult. This application simplifies that process into one
									easy to use application for artists of any kind.
								</p>
							</div>
						</div>
					</a>
				</li>
				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" >
					<!-- PROJECT IMAGE -->
					<img src="assets/rails.png" >

					<!-- PROJECT LINK -->
					<a href="https://github.com/step-up-your-game/Health_Tracker">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Health Tracker</h3>

								<!-- DETAILS -->
								<p>
									For those who exercise regularly and want to keep tabs on your calories.
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" >
					<!-- PROJECT IMAGE -->
					<img src="assets/python.png" >

					<!-- PROJECT LINK -->
					<a href="https://github.com/BlakeStrickland/python_monster_game">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Monster Game</h3>

								<!-- DETAILS -->
								<p>
 								A turn by turn game to DESTROY ALL MONSTERS. Pick your weapon and strategize wisely!
								</p>
							</div>
						</div>
					</a>
				</li>
				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" >
					<!-- PROJECT IMAGE -->
					<img src="assets/python.png">

					<!-- PROJECT LINK -->
					<a href="https://github.com/BlakeStrickland/python_games/blob/master/dungeon.py">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Dungeon</h3>

								<!-- DETAILS -->
								<p>
									Your trapped in a room with a monster and a door, can you reach the end?
									Oh, and whats behind the door?
								</p>
							</div>
						</div>
					</a>
				</li>
			</ul> <!-- /END PROJECTS -->

		</div> <!-- /END PROJECTS CONTAINER -->

	</div> <!-- /END WRAPPER -->
</section>



<!-- =========================
     CONTACT
========================= -->
<section class="contact dark-bg" id="contact">
	<div class="color-overlay">
		<div class="wrapper">

			<!-- HEADING -->
			<h2>Contact Me</h2>

			<!-- LINE -->
			<div class="main-line"></div>

			<!-- CONTACT INFORMATION -->
			<ul class="styled-icon-list">
				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-phone"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span>+984-222-5399</span></p>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-envelope-o"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span><a href="mailto:StricklandB02@gmail.com">StricklandB02@gmail.com</a></span></p>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-map-marker"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span>Raleigh, United States</span></p>
				</li>

			</ul>
		</div> <!-- /END WRAPPER -->
	</div> <!-- /END OVERLAY -->
</section>

<!-- =========================
     FOOTER
========================= -->
<footer class="dark-bg">
	<!-- BACK TO TOP -->
	<a class="icon back-to-top" href="#home"><i class="fa fa-home"></i></a>

	<!-- SOCIAL NAVIGATION -->
	<ul class="social-navigation">
		<li><a href="https://github.com/BlakeStrickland" class="icon"><i class="fa fa-github"></i></a></li>
		<li><a href="https://www.linkedin.com/in/blake-strickland-173314107
" class="icon"><i class="fa fa-linkedin"></i></a></li>
	</ul>


</footer>

<!-- =========================
     SCRIPTS
========================= -->
<!-- Formstone Navigation -->
<script src="../../../assets/core.js"></script>
<!-- <script src="../../../assets/mediaquery.js"></script> -->
<!-- <script src="../../../assets/wap.js"></script> -->
<script src="../../../assets/touch.js"></script>
<script src="../../../assets/navigation.js"></script>

<!-- Smoothscroll -->
<script src="../../../assets/smoothscroll.js"></script>

<!-- Jquery Nav -->
<script src="../../../assets/jquery.nav.js"></script>

<!-- ImagesLoaded -->
<script src="../../../assets/jquery.imagesloaded.js"></script>

<!-- Wookmark -->
<!-- <script src="../../../assets/jquery.wookmark.min.js"></script> -->

<!-- Retina -->
<!-- <script src="../../../assets/retina.min.js"></script> -->

<!-- Custom Script -->
<script src="../../../assets/custom.js"></script>

</body>
</html>
