<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- SITE TITLE -->
<title>Blake Strickland - Developer</title>

<!-- =========================
      FAV AND TOUCH ICONS
========================= -->
<!-- <link rel="icon" href="images/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png"> -->

<!-- =========================
     STYLESHEET
========================= -->
<!-- FONT AWESOME -->
<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->

<!-- FORMSTONE NAVIGATION -->
<link rel="stylesheet" href="../../../assets/stylesheets/navigation.css">

<!-- COLORS -->
<link rel="stylesheet" href="../../../assets/stylesheets/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="css/colors/yellow.css"> -->
<!-- <link rel="stylesheet" href="css/colors/turquoise.css"> -->
<!-- <link rel="stylesheet" href="css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="css/colors/orange.css"> -->

<!-- CUSTOM STYLESHEET -->
<link rel="stylesheet" href="../../../assets/stylesheets/styles.css">

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="../../../assets/stylesheets/responsive.css">

<!-- Jquery -->
<script src="js/jquery-2.0.3.min.js"></script>

<script>
//make sure that js is enabled
$('html').addClass('js');
</script>

<!--[if IE]>
<style>label {display: block;}</style>
<![endif]-->

</head>

<body>
<!-- =========================
     PRELOADER
========================== -->
<div class="preloader"></div>

<!-- =========================
     NAVIGATION
========================== -->
<nav class="navigation dark-bg">
	<div class="wrapper">

		<!-- NAVIGATION HEADER -->
		<div class="navbar-header">
			<!-- LOGO -->
		</div>

		<!-- NAVIGATION LINKS -->
		<ul class="navigation-links"  data-navigation-handle=".navbar-header">
			<li><a href="#home">Home</a></li>

			<li><a href="#about">About</a></li>

			<li><a href="#contact">Contact</a></li>
		</ul>

	</div> <!-- /END WRAPPER -->
</nav>

<!-- =========================
     HOME
========================= -->
<header class="home dark-bg" id="home">
	<div class="color-overlay">
		<div class="wrapper">

			<!-- HEADING -->
			<h1>
				 <span class="colored-text">Blake Strickland</span>
			</h1>

			<!-- SUB HEADING -->
			<p class="sub-heading">
				Software Application Developer
			</p>


		</div> <!-- /END WRAPPER -->
	</div> <!-- /END COLOR OVERLAY -->
</header>

<!-- =========================
     ABOUT
========================= -->
<section class="about" id="about">
	<div class="wrapper">

		<!-- HEADING -->
		<h2>About Myself</h2>

		<!-- LINE -->
		<div class="main-line"></div>

		<div class="col-6">
			<!-- SIDE IMAGE -->
    </div>

		<div class="col-6">
			<!-- HEADING -->
			<h3>What I'm looking for:</h3>

			<!-- PARAGRAPH -->
			<p>
      I highly enjoy working with backend frameworks such as Ruby on Rails and Python but at the
      same time I am beginning to grow acustom to the frontend side of development as well. I am
      looking to further my learning to become more well rounded in the art of design as well as
      diving deeper into backend and mobile development.
			</p>

			<!-- HEADING -->
			<h3>Resume</h3>

			<!-- FEATURES LIST -->
			<ul class="styled-icon-list">
				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-glass"></i>
					</div>
					<!-- CONTENT -->
					<span class="list-content">Services</span>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-bed"></i>
					</div>
					<!-- CONTENT -->
					<span class="list-content">Branches</span>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-child"></i>
					</div>
					<!-- CONTENT -->
					<span class="list-content">Company Roots</span>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-dashboard"></i>
					</div>
					<!-- CONTENT -->
					<span class="list-content">Global Scope</span>
				</li>
			</ul>
		</div>

	</div> <!-- /END WRAPPER -->
</section>

<!-- =========================
     SERVICES
========================= -->
<section class="services" id="services">
	<div class="wrapper">

		<!-- HEADING-->
		<h2>What I Can Do</h2>

		<!-- SUB HEADING -->
		<p class="sub-heading"></p>

		<!-- LINE -->
		<div class="main-line"></div>

		<!-- ICON BOXES -->
		<div class="icon-boxes">
			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-puzzle-piece"></i>

				<!-- HEADING -->
				<h3>Back End</h3>

				<!-- PARAGRAPH -->
				<p>
					Ruby on Rails / Python Django
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-eye"></i>

				<!-- HEADING -->
				<h3>Front End</h3>

				<!-- PARAGRAPH -->
				<p>
					HTML CSS JavaScript AJAX JQuery
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-server"></i>

				<!-- HEADING -->
				<h3>Other Familiar Frameworks</h3>

				<!-- PARAGRAPH -->
				<p>
					MongoDB SQL Meteor
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>

			<!-- SINGLE ICON BOX -->
			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-mobile-phone"></i>

				<!-- HEADING -->
				<h3>Interested In</h3>

				<!-- PARAGRAPH -->
				<p>
					Andriod/IOS Development
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>

			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-book"></i>

				<!-- HEADING -->
				<h3>Learning About</h3>

				<!-- PARAGRAPH -->
				<p>
					Docker AWS
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>

			<div class="icon-box">
				<!-- ICON -->
				<i class="fa fa-play"></i>

				<!-- HEADING -->
				<h3>Outide the Scope</h3>

				<!-- PARAGRAPH -->
				<p>
					Raspberry Pi Arduino
				</p>

				<!-- BUTTON -->
				<div class="btn-container">
					<a class="btn secondary-btn" href="#">Read More</a>
				</div>
			</div>
		</div> <!-- /END ICON BOXES -->

	</div> <!-- /END WRAPPER -->
</section>


<!-- =========================
     PORTFOLIO
========================= -->
<section class="portfolio" id="portfolio">
	<div class="wrapper">

		<!-- HEADING -->
		<h2>Portfolio</h2>

		<!-- SUB HEADING -->
		<p class="sub-heading"></p>

		<!-- LINE -->
		<div class="main-line"></div>

		<!-- PORTFOLIO FILTERS -->
		<!-- <ul class="portfolio-filters">
			<li data-filter="web-design">Web Design</li>
			<li data-filter="logo">Logo</li>
			<li data-filter="photography">Photography</li>
			<li data-filter="video">Video</li>
			<li data-filter="marketing">Marketing</li>
		</ul> -->

		<!-- PROJECTS CONTAINER -->
		<div class="projects-container">

			<!-- PROJECTS -->
			<ul class="projects">

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/flatavatars.png" alt="Flat Avatars">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Flat Avatar</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["video", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/maherjarrah.png" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>My Own Logo</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["marketing", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/sky-for-printing-website.png" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>SKY For Printing</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "logo"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/crown.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Crown</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["marketing", "logo"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/old-phone.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Old Phone</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/bee.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Bee</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/using-smartphones.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Using Smartphones</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "video"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/parrot.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Parrot</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "marketing"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/bag.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Magna Aliquam</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["video", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/stevewilson-zebra.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Zebra</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["logo", "video"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/girl-with-snow.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Veniam Quis</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["logo", "marketing"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/dog.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Black Dog</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["video", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/old-car.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Laore Remage</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["web-design", "photography"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/working-on-laptop.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Congue Nihil</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["logo", "web-design"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/brown.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Feugait Nulla</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

				<!-- SINGLE PROJECT -->
				<li class="single-project dark-bg" data-filter-class='["marketing", "logo"]'>
					<!-- PROJECT IMAGE -->
					<img src="images/work/black.jpg" alt="Something">

					<!-- PROJECT LINK -->
					<a href="#">
						<div class="project-details-conainer">
							<div class="project-details">
								<!-- HEADING -->
								<h3>Facilisi Nam</h3>

								<!-- DETAILS -->
								<p>
									tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
								</p>
							</div>
						</div>
					</a>
				</li>

			</ul> <!-- /END PROJECTS -->

		</div> <!-- /END PROJECTS CONTAINER -->

	</div> <!-- /END WRAPPER -->
</section>

<!-- =========================
     CALL TO ACTION
============================-->
<section class="call-to-action dark-bg">
	<div class="color-overlay">
		<div class="wrapper">

			<!-- HEADING -->
			<h2>CALL TO ACTION</h2>

			<!-- LINE -->
			<div class="main-line"></div>

			<!-- PARAGRAPH -->
			<p>
			</p>

			<!-- BUTTON -->
		</div> <!-- /END OVERLAY -->
	</div> <!-- /END WRAPPER -->
</section>



<!-- =========================
     SKILLS
========================= -->
<section class="skills">
	<div class="wrapper">

		<!-- HEADING -->
		<h2>My Skills</h2>

		<!-- LINE -->
		<div class="main-line"></div>

		<!-- SKILL #1 -->
		<div class="skill">
			<div class="progress-pie-chart progress-pie-chart1" data-percent="94">
				<div class="ppc-progress ppc-progress1">
					<div class="ppc-progress-fill ppc-progress-fill1"></div>
				</div>

				<div class="ppc-percents ppc-percents1">
					<div class="pcc-percents-wrapper">
						<span>%</span>
					</div>
				</div>
			</div>

			<!-- HEADING -->
			<h3>Ruby on Rails</h3>

			<script>
				$(function(){
					var $ppc1 = $('.progress-pie-chart1'),
					percent1 = parseInt($ppc1.data('percent')),
					deg = 360*percent1/100;
					if (percent1 > 50) {
						$ppc1.addClass('gt-50');
					}
					$('.ppc-progress-fill1').css('transform','rotate('+ deg +'deg)');
					$('.ppc-percents1 span').html(percent1+'%');
				});
			</script>
		</div> <!-- /END SKILL #1 -->

		<!-- SKILL #2 -->
		<div class="skill">
			<div class="progress-pie-chart progress-pie-chart2" data-percent="82">
				<div class="ppc-progress ppc-progress2">
					<div class="ppc-progress-fill ppc-progress-fill2"></div>
				</div>

				<div class="ppc-percents ppc-percents2">
					<div class="pcc-percents-wrapper">
						<span>%</span>
					</div>
				</div>
			</div>

			<!-- HEADING -->
			<h3>Python</h3>

			<script>
				$(function(){
					var $ppc2 = $('.progress-pie-chart2'),
					percent2 = parseInt($ppc2.data('percent')),
					deg = 360*percent2/100;
					if (percent2 > 50) {
						$ppc2.addClass('gt-50');
					}
					$('.ppc-progress-fill2').css('transform','rotate('+ deg +'deg)');
					$('.ppc-percents2 span').html(percent2+'%');
				});
			</script>
		</div> <!-- /END SKILL #2 -->

		<!-- SKILL #3 -->
		<div class="skill">
			<div class="progress-pie-chart progress-pie-chart3" data-percent="86">
				<div class="ppc-progress ppc-progress3">
					<div class="ppc-progress-fill ppc-progress-fill3"></div>
				</div>

				<div class="ppc-percents ppc-percents3">
					<div class="pcc-percents-wrapper">
						<span>%</span>
					</div>
				</div>
			</div>

			<!-- HEADING -->
			<h3>HTML CSS JavaScript</h3>

			<script>
				$(function(){
					var $ppc3 = $('.progress-pie-chart3'),
					percent3 = parseInt($ppc3.data('percent')),
					deg = 360*percent3/100;
					if (percent3 > 50) {
						$ppc3.addClass('gt-50');
					}
					$('.ppc-progress-fill3').css('transform','rotate('+ deg +'deg)');
					$('.ppc-percents3 span').html(percent3+'%');
				});
			</script>
		</div> <!-- /END SKILL #3 -->

		<!-- SKILL #4 -->
		<div class="skill">
			<div class="progress-pie-chart progress-pie-chart4" data-percent="30">
				<div class="ppc-progress ppc-progress4">
					<div class="ppc-progress-fill ppc-progress-fill4"></div>
				</div>

				<div class="ppc-percents ppc-percents4">
					<div class="pcc-percents-wrapper">
						<span>%</span>
					</div>
				</div>
			</div>

			<!-- HEADING -->
			<h3>Mobile</h3>

			<script>
				$(function(){
					var $ppc4 = $('.progress-pie-chart4'),
					percent4 = parseInt($ppc4.data('percent')),
					deg = 360*percent4/100;
					if (percent4 > 50) {
						$ppc4.addClass('gt-50');
					}
					$('.ppc-progress-fill4').css('transform','rotate('+ deg +'deg)');
					$('.ppc-percents4 span').html(percent4+'%');
				});
			</script>
		</div> <!-- /END SKILL #4 -->

	</div> <!-- /END WRAPPER -->
</section>

<!-- =========================
     CONTACT
========================= -->
<section class="contact dark-bg" id="contact">
	<div class="color-overlay">
		<div class="wrapper">

			<!-- HEADING -->
			<h2>Contact Me</h2>

			<!-- LINE -->
			<div class="main-line"></div>

			<!-- CONTACT INFORMATION -->
			<ul class="styled-icon-list">
				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-phone"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span>+984-222-5399</span></p>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-envelope-o"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span><a href="mailto:youremail@domain.com">StricklandB02@gmail.com</a></span></p>
				</li>

				<!-- SINGLE LIST ITEM -->
				<li>
					<!-- ICON -->
					<div class="icon">
						<i class="fa fa-map-marker"></i>
					</div>
					<!-- CONTENT -->
					<p class="list-content"><span>Raleigh, United States</span></p>
				</li>

			</ul>
		</div> <!-- /END WRAPPER -->
	</div> <!-- /END OVERLAY -->
</section>

<!-- =========================
     FOOTER
========================= -->
<footer class="dark-bg">
	<!-- BACK TO TOP -->
	<a class="icon back-to-top" href="#home"><i class="fa fa-home"></i></a>

	<!-- SOCIAL NAVIGATION -->
	<ul class="social-navigation">
		<li><a href="https://github.com/BlakeStrickland" class="icon"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="https://www.linkedin.com/in/blake-strickland-173314107
" class="icon"><i class="fa fa-github"></i></a></li>
	</ul>


</footer>

<!-- =========================
     SCRIPTS
========================= -->
<!-- Formstone Navigation -->
<script src="js/core.js"></script>
<script src="js/mediaquery.js"></script>
<script src="js/swap.js"></script>
<script src="js/touch.js"></script>
<script src="js/navigation.js"></script>

<!-- Smoothscroll -->
<script src="js/smoothscroll.js"></script>

<!-- Jquery Nav -->
<script src="js/jquery.nav.js"></script>

<!-- ImagesLoaded -->
<script src="js/jquery.imagesloaded.js"></script>

<!-- Wookmark -->
<script src="js/jquery.wookmark.min.js"></script>

<!-- Retina -->
<script src="js/retina.min.js"></script>

<!-- Custom Script -->
<script src="js/custom.js"></script>

</body>
</html>
